<html>
  <head>
    <title>Stories</title>
    <script src="/static/thirdparty/d3.js" type="text/javascript"></script>
    <script src="/static/js/stories_plot.js" type="text/javascript"></script>
    <script src="/static/thirdparty/jquery-ui-custom/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <style>
      body{
        font-family:sans-serif;
      }
      .axis path, line {
        stroke:black;
        fill:none;
      }
      <!-- div, svg, g { -->
      <!--     border: 1px solid hotpink; -->
      <!-- } -->
    </style>

  </head>
  <body>
    <div id="plot"></div>
  </body>
  <script type="text/javascript">
    plot = (new Plot()).width(1300).height(650);
    // d3.json('/politix/stories/data/', function(data) {
    //     d3.select('#plot').datum(data).call(plot.draw);
    // });
    $.getJSON('/politix/stories/data/', function(data) {
        d3.select('#plot').datum(data).call(plot.draw);
    });
   
  </script>
</html>
